typings
example-gulp/node_modules/
example-gulp/dist/
example-webpack/node_modules/
example-webpack/dist/
example-jspm/node_modules/
example-jspm/dist/
example-typescript/node_modules/
example-typescript/dist/
example-webpack-babel/node_modules/
example-webpack-babel/dist/